.title-text-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 5% 0%;
    height: 30%;
}

.title-text-button h1 {
    width: 75%;
    align-items: center;
}

.title-text-button p {
    width: 75%;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 10%;
}

.title-text-button button {
    width: 25%;
}


.presentation-orange-button,
.presentation-orange-button *,
.presentation-orange-button :after,
.presentation-orange-button :before,
.presentation-orange-button:after,
.presentation-orange-button:before {
  /* border: 0px solid; */
  box-sizing: border-box;
}

.presentation-orange-button {
  /* -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button; */
  background-color: black;
  /* background-image: none; */
  color: white;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 100%;

  /* -webkit-mask-image: -webkit-radial-gradient(#000, #fff); */
  padding: 0;
  text-shadow: 1px 1px #222324;
}

.presentation-orange-button:disabled {
  cursor: default;
}

.presentation-orange-button:-moz-focusring {
  outline: auto;
}

.presentation-orange-button svg {
  display: block;
}

.presentation-orange-button [hidden] {
  display: none;
} 

.presentation-orange-button {
  border: 1px solid black; 
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}

.presentation-orange-button .original {
  background: #FFDDAE;
  color: white;
  border: 10px solid #FFDDAE;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  font-weight: 900;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.presentation-orange-button:hover .original {
  transform: translateY(100%);
}

.presentation-orange-button .letters {
    display: inline-flex;
}

.presentation-orange-button span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.presentation-orange-button span:nth-child(2n) {
  transform: translateY(15px);
}

.presentation-orange-button:hover span {
  opacity: 1;
  transform: translateY(0);
}

.presentation-orange-button:hover span:nth-child(2) {
  transition-delay: 0.3s;
}

.presentation-orange-button:hover span:nth-child(3) {
  transition-delay: 0.4s;
}

.presentation-orange-button:hover span:nth-child(4) {
  transition-delay: 0.5s;
}

@media screen and (max-width:1000px) {
.title-text-button {
  height: 50%;
}
}